* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #616128 0%, #35585a 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
}

body {
    width: 99vw;
    height: 261.5vh;
    margin: 0;
    background: linear-gradient(360deg, rgba(2, 0, 36, 1) 0%, rgba(84, 74, 30, 1) 15%, rgba(113, 99, 41, 1) 30%, rgba(150, 132, 55, 1) 64%, rgba(195, 172, 72, 1) 100%);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
    height: 15vh;
    background-color: #d3a80b;
}

main {
    height: 75vh;
}

footer {
    height: 10vh;
    color: #fff;
    background-color: rgba(125, 125, 125, 0.7);
}

/* Pagina de Inicio */

/* Navegador */
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
}

#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 1);
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffc800;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: rgba(0, 0, 0, 0.4);
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
    }

    #mainNav .navbar-brand img {
        height: 2rem;
        transition: height 0.3s ease-in-out;
    }

    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0.3);
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    }

    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 1.5rem;
    }

    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }

    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}

header.inicioheader {
    padding-top: 25rem;
    padding-bottom: 25rem;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

header.inicioheader .inicioheader-subheading {
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.inicioheader .inicioheader-heading {
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
    background-color: #d3a80b;
    border-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b4931be5;
    border-color: #fff;
}

.btn-primary:active:focus {
    color: white;
    background-color: black;
    border-color: #b4931be5;
}

/* Nosotros */
main.nosotros {
    height: 160vh;
}

.page-section {
    padding: 6rem 0;
}

#about {
    padding-top: 7rem;
}

.section-heading,
.setion-h4 {
    color: #fff;
}

.history img {
    width: 20rem;
    height: 20rem;
    border: 0.5rem solid rgba(94, 91, 91, 0.7);
}

.text-muted {
    --bs-text-opacity: 1;
    color: #7d868f !important;
    padding: 0 20rem;
}

/* Footer */
a {
    color: #fff;
}

a:hover {
    color: #ffc800;
}


@media (max-width: 1399.98px) {
    .text-muted {
        padding: 0 10rem;
    }

    /* .fs-4 {
        font-size: 1rem !important;
    } */
}

@media (max-width: 1199.98px) {
    .text-muted {
        padding: 0 1rem;
        background-color: rgb(204, 60, 60);
    }
}


/* Media de dispositivos Quienes somos */

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

/* Pagina servicios */

header.serviciosHeader {
    height: 15vh;
    /* background-color: black; */
}

main.serviciosMain {
    height: 75vh;
}
