#main_nav {
    padding-top: 1rem;
    padding-bottom: 1rem;  
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(84, 74, 30, 0.6) 0%, rgba(113, 99, 41, 0.6) 40%, rgba(21, 80, 130, 0.6) 100%);  

    div {
        a {
            img {
                width: 18%;
                height: 18%;
                margin-left: 5rem;
            }
        }

        .navbar-toggler {
            padding: 0.75rem;
            font-size: 0.75rem;
            font-family: $fuentesegundaria;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            border: 1px solid rgba(255, 255, 255, 1);
        }

        #navbarResponsive {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-family: $fuentesegundaria;
                        font-size: 0.95rem;
                        color: #fff;
                        letter-spacing: 0.0625em;
                        &:active, &:hover{
                            color: #ffc800;
                        }
                    }
                }
            }

        }
    }
}