// fondos
$backgroundprincipal: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../assets/img/fondotextura.jpg);
$backgroundfooter: linear-gradient(90deg, rgba(2, 0, 36, 0.4) 0%, rgba(84, 74, 30, 0.4) 0%, rgba(113, 99, 41, 0.4) 40%, rgba(21, 80, 130, 0.4) 100%);
$backgroundmodal: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9023984593837535) 50%, rgba(3,3,3,0.5662640056022409) 100%);

 

// fuentes de google
$fuenteprincipal: 'Oswald', sans-serif; 
$fuentesegundaria: 'Lora', serif;
$fuentetercera: 'Roboto Slab', serif;
$fuentecuarta: 'Abril Fatface', cursive;
$fuentetextos: 'Source Sans Pro', sans-serif;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "black": $black,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
);

