@import "../node_modules/bootstrap/scss/bootstrap";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #616128 0%, #35585a 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
}
body {
    width: auto;
    height: auto;
    margin: 0;
    background: $backgroundprincipal;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.7);
}
header {
    height: 15vh;
    background-color: #d3a80b;
}

main {
    height: auto !important;
}

footer {
    height: 15vh;
    color: #fff;
    background: $backgroundfooter;
}

.btn-dark--redes {
    @extend .btn-dark;
    --bs-btn-hover-bg: #695c2be5;
}

@import "./inicio";



