@import "../node_modules/bootstrap/scss/bootstrap";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #616128 0%, #35585a 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
}

body {
    width: auto;
    height: auto;
    margin: 0;
    background: $backgroundprincipal;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.7);
}

body .inicioheader-heading{
    font-family: $fuentecuarta;
}
body .inicioheader-subheading{
    font-family: $fuenteprincipal;
}

header {
    height: 15vh;
    background-color: #0000;
}

main {
    height: auto !important;
}

footer {
    height: 15vh;
    color: #fff;
    background: $backgroundfooter;
}

.section-heading{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.897);
    font-family: $fuenteprincipal;
    font-weight: 900;
}

.btn-dark--redes {
    @extend .btn-dark;
    --bs-btn-hover-bg: #695c2be5;
}

.btn-primary-general {
    @extend .btn-primary;
    --bs-btn-color: #fff;
    --bs-btn-bg: #000;
    --bs-btn-border-color: #A38414;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #A38414;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 72, 124, 118;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000;  
    --bs-btn-active-border-color: #A38414;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 1);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #041938;
    --bs-btn-disabled-border-color: #041938;
}

.btn-primay-closemodel {
    @extend .btn-primary;
    --bs-btn-color: #000;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #DADA11;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #A38414;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 72, 124, 118;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #A38414;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 1);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #041938;
    --bs-btn-disabled-border-color: #041938;
}

@import "./inicio";
@import "./servicios";
@import "./portafolio";
@import "./equipo";
@import "./contactos";
@import "./mediaquerys";