.equipo_main {
    height: 100vh;

    section {
        div {
            div {}

            div {
                div {
                    .team-member {
                        margin-bottom: 3rem;
                        text-align: center;

                        img {
                            width: 14rem;
                            height: 14rem;
                            border: 0.5rem solid rgba(0, 0, 0, 0.1);
                        }

                        .img_equipo {
                            height: 200px;
                            width: 200px;
                            border: 5px solid rgb(154, 163, 163);
                        }

                        h4, .h4 {
                            margin-top: 1.5rem;
                            margin-bottom: 0; 
                        }

                    }

                }
            }

            div {}
        }
    }
}