.nosotros {
    height: 160vh;

    .page-section {
        padding: 8rem 0;

        .section-heading,
        .h2 {
            font-size: 2.5rem;
            margin-top: 0;
            margin-bottom: 1rem;
            color: rgba(255, 255, 255, 0.7);

        }

        .history {
            img {
                width: 20rem;
                height: 20rem;
                border: 0.5rem solid rgba(94, 91, 91, 0.7);
            }

            .setion-h4 {
                color: #fff;
            }

            p {}

            p {}

            a {}

            a {}

            a {}
        }
    }

    #about {
        padding-top: 7rem;
    }
}