.nosotros {
    height: 160vh;

    .page-section {
        padding: 8rem 0;

        .section-heading,
        .h2 {
            font-size: 2.5rem;
            margin-top: 0;
            margin-bottom: 1rem;
            color: rgba(255, 255, 255, 0.781);

        }

        .history {
            img {
                width: 20rem;
                height: 20rem;
                border: 0.5rem solid rgba(0, 0, 0, 0.486);
            }

            .setion-h4 {
                color: #fff;
            }

            .text-muted {
                --bs-text-opacity: 0.5;
                color: #1c1e20 !important;
                padding: 0 18rem;
            }
        }
    }

    #about {
        padding-top: 7rem;
    }
}